<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NewBinding0" />
            </netTcpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="General.Program+Game">
                <endpoint address="net.tcp://localhost/General/mex1" binding="mexTcpBinding"
                    bindingConfiguration="" name="mex1" contract="IMetadataExchange" />
                <endpoint address="net.tcp://localhost/General/endpoint1" binding="netTcpBinding"
                    bindingConfiguration="" name="endpoint1" contract="General.Program+IGeneral" />
            </service>
        </services>
    </system.serviceModel>
</configuration>