<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="endpoint1" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost/General/endpoint1" binding="netTcpBinding"
                bindingConfiguration="endpoint1" contract="ServiceReference1.IGeneral"
                name="endpoint1">
                <identity>
                    <userPrincipalName value="student@step.lan" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>