<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IGeneral" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost/General/ep1" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IGeneral" contract="ServiceReference1.IGeneral"
                name="NetTcpBinding_IGeneral">
                <identity>
                    <userPrincipalName value="student@lan.itstep.kiev.ua" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>